@import "../node_modules/bootstrap/scss/bootstrap";

.noche-azul {
  background-position: center;
  background-size: cover;
}
/* .noche-azul:hover {
  animation-name: zoomIn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
@keyframes zoomIn {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 150% 150%;
  }
} */

.fotografo {
  line-height: 350px;
  border-radius: 350px;
  height: 70%;
}

.fotografo2 {
  line-height: 350px;
  border-radius: 350px;
  height: 80%;
  box-shadow: 8px -8px 0px 0px rgb(4, 36, 71), 16px -16px 0px 0px rgb(4, 40, 80);
}

.color {
  height: 130vh;
  background-color: rgb(3, 29, 56);
}
.img {
  max-width: 4vw;
  min-width: 3vw !important;
}
.filter-white {
  filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(210deg)
    brightness(107%) contrast(102%);
}
.filter-green {
  filter: invert(37%) sepia(92%) saturate(416%) hue-rotate(100deg)
    brightness(92%) contrast(84%);
}

.subtitulo-h4 {
  width: 20vw;
}
.texto {
  width: 13vw;
}
.color-2 {
  height: 100vh;
  background-color: rgb(103, 190, 209);
}
.caja {
  border: 2px solid rgb(76, 160, 183);
  border-radius: 15px;
  background-color: white;
  padding: 2vh 1vw;
  width: 25%;
  margin: 0 1vw;
  &:hover {
    background-color: rgba(229, 239, 250, 0.966);
  }
}
.boton {
  background-color: white;
  border: 2px rgb(76, 160, 183) solid;
  border-radius: 25px;
  padding: 5px 10px;
  &:hover {
    background-color: rgb(23, 82, 110);
    color: white;
    border: solid rgb(23, 82, 110);
  }
}
.caja-inf {
  padding-top: 2vh;
  border-top: 2px rgb(76, 160, 183) solid;
}
footer {
  background-color: rgb(24, 68, 116);
}
.item-lista {
  list-style: none;
}
footer img {
  height: 5vh;
}
.rounded {
  border-radius: 50% !important;
  margin-right: 5vh;
}
.texto-2 {
  width: 25vw;
}
